@import './../../style/style';

.menu_list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    border-radius: $border_radius;

    background-color: $disable_color;
}

.menu_item {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    //margin: 0.5rem 1.5rem;
    padding: 0.5rem 1.5rem;

    border-radius: $border_radius;
    // border: 1px solid black;

    font-size: 1.5rem;
}