@import './../../style/style';

.body {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 780px) {
        flex-wrap: wrap;
    }
}